PORT=3013
URI_MONGODB=mongodb://localhost:27017/auth-de-debuggers

JWT_SECRET=E$3cr3tD3bUgg3rS3@Ts@In6am2024
JWT_ISSUER=DebuggersEats
JWT_AUDIENCE=DebuggersEats
JWT_EXPIRES_IN=1h

EMAIL_USER=debuggersinam@gmail.com
EMAIL_PASS=oqyvsnbqmiospenl
FRONTEND_URL=http://localhost:5173/debuggersEatsAdmin/v1/auth
