# Variables de entorno localhost para desarrollo local. No subir a repositorio.
VITE_AUTH_URL=http://localhost:3013/debuggersEatsAdmin/v1
VITE_RESTAURANT_URL=http://localhost:3014/add-restaurant/v1
VITE_REPORTS_URL=http://localhost:5000